<%include ./header.ejs%>
<form class="form-auth" action="/auth/login" method="post">
    <h1 class="header-main">Chat-er</h1>
    <p class="text-warning">

    </p>
    <input type="username"  placeholder="Username" autofocus class="form-control kkk" name="username"><br>
    <input type="submit" value="Log in" class="btn btn-primary" />
</form>
